{% extends 'base.html' %}
{% block content %}
<style type="text/css">
  thead tr.info th {vertical-align: top;}
  span.disabled {color: #999999}
  span.current {font-weight: bold;}
</style>

<p>&nbsp;</p>
<h3 style="float: left; margin: 0; padding: 0;">Список обращений &nbsp;&nbsp;</h3>
<ul class="nav nav-pills" style="padding-top: 4px;">
  <li{% if show_mode == 'all'%} class="active"{% endif %}><a href=".">все ({{counters.all}})</a></li>
  <li{% if show_mode == 'wo_answer'%} class="active"{% endif %}><a href="?show=wo_answer">без ответа ({{counters.wo_answer}})</a></li>
  <li{% if show_mode == 'wo_answer_outdated'%} class="active"{% endif %}><a href="?show=wo_answer_outdated">крайний срок прошёл ({{counters.wo_answer_outdated}})</a></li>
</ul>


<table class="table table-bordered table-hover">
<caption></caption>
<thead>
<tr class="info">
<th>&nbsp;</th>
<th>Номер<br /> обращения</th>
<th>Дата получения<br /> обращения</th>
<th>Крайний срок<br /> направления ответа</th>
<th>Дата направления<br />ответа</th>
<th>Гражданин</th>
<th>Медицинская организация</th>
</tr>
</thead>
<tbody>
{% for call in calls %}
{% url 'calls:answer_detail' call.id as call_url %}
<tr class="{% if call.got_answer %}success{% elif not call.got_answer and not call.is_outdated %}warning{% elif not call.got_answer and call.is_outdated %}error{% endif %}">
	<td>{% if call.got_answer %}<i class="icon-ok"></i>{% else %}<i class="icon-remove"></i>{% endif %}</td>
	<td><a href="{{call_url}}">{{call.id}}</a></td>
	<td><a href="{{call_url}}">{{call.dt|date:"d.m.Y H:i"}}</td>	
	<td><a href="{{call_url}}">{{call.deadline|date:"d.m.Y H:i"}}</td>
	<td><a href="{{call_url}}">{{call.answer_created|date:"d.m.Y H:i"}}</td>		
	<td><a href="{{call_url}}">{{call.citizen}}</td>
	<td>{{call.mo}}</td>


</tr>
{% endfor %}
</tbody>
</table>

{% if calls.paginator.num_pages > 1 %}
<div class="pagination text-right" style="">
    <span class="step-links">
        {% if calls.has_previous %}
            <a href="?show={{show_mode}}&page={{ calls.previous_page_number }}">&larr; предыдущая</a>
	{% else %}
	    <span class="disabled">&larr; предыдущая</span>
        {% endif %}
	&nbsp;
        <span class="current">
            стр. {{ calls.number }} из {{ calls.paginator.num_pages }}
        </span>
	&nbsp;
        {% if calls.has_next %}
            <a href="?show={{show_mode}}&page={{ calls.next_page_number }}">следующая &rarr;</a>
	{% else %}
	    <span class="disabled">следующая &rarr;</span>
        {% endif %}
    </span>
</div>
{% endif %}
{% endblock %}