import os
import settings

DEBUG = False
TEMPLATE_DEBUG = DEBUG

ADMINS = (
	('Super admin', 'superadmin@example.com'),
)

MANAGERS = ADMINS

DATABASES = {
    'default': {
            'ENGINE': 'django.db.backends.sqlite3', # Add 'postgresql_psycopg2', 'mysql', 'sqlite3' or 'oracle'.
	     'NAME': os.path.join(settings.ROOT_DIR, 'db/hotlinedb.sqlite3'),                      # Or path to database file if using sqlite3.
	     'USER': '',                      # Not used with sqlite3.
	     'PASSWORD': '',                  # Not used with sqlite3.
	     'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
	     'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
	}
}

DATABASE_OPTIONS = {
   "init_command": "SET storage_engine=INNODB",
}

### ACTIVE DIRECTORY AUTHENTICATION SETTINGS

## AD_DNS_NAME should set to the AD DNS name of the domain (ie; example.com)  
## If you are not using the AD server as your DNS, it can also be set to 
## FQDN or IP of the AD server.

#AD_DNS_NAME = 'example.com' # required param !!!
#AD_LDAP_PORT = 389 # by default 389

## This is the NT4/Samba domain name
#AD_NT4_DOMAIN = 'EXAMPLE' # required param !!!

### /ACTIVE DIRECTORY AUTHENTICATION SETTINGS
